<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title><%= user.username %> drive</title>
    </head>
    <body>
        <a class="log-out-link" href="/log-out">Log Out</a>
        <form
            action="/upload"
            class="upload-file-form"
            method="post"
            enctype="multipart/form-data"
        >
            <input
                type="file"
                name="files"
                class="upload-file-input"
                multiple
            />
            <button class="submit-btn" type="submit" disabled>Upload</button>
        </form>
        <h1><%= user.username %> drive</h1>
        <div class="files-container">
            <% if (files) {%> <% files.forEach((file) => { %>
            <div class="file">
                <div><%= file.name %></div>
                <div><%= file.size %> KB</div>
                <div><%= file.uploaded %></div>
            </div>
            <% }) %> <% } %>
        </div>
    </body>
    <script>
        const input = document.querySelector(".upload-file-input");
        const btn = document.querySelector(".submit-btn");

        input.addEventListener("change", () => {
            btn.disabled = input.files.length === 0;
        });
    </script>
</html>
